/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 8:34:19 PM
    Author     : Tan Ming Kwang
*/

.features .glyphicon {
    font-size:32px;
    color: #777;
}